@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="https://immanuel.co/favicon.ico" />
    <title>ARK (oAuth 2)</title>
</head>
<body>
    <div style="position:fixed; top: 10px; right: 10px;">
        <a href="/auth/oauth/ark_server/v1/server/manage">Access Admin Page (Secured)</a> <br />
        <a target="_blank" href="/auth/oauth/ark_server/v1/.well-known/ark_server/openid-configuration">Get Client .Well-known config</a>
    </div>
    <div id="parallax-world-of-ugg">

        <section>
            <div class="title">
                <img src="~/img/ark_oauth_logo.png" />
            </div>
        </section>

        <section>
            <div class="parallax-one">
                <h2 style="color: black;">IDP - Identity Provider</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character sc">O</span>Auth 2.0 is the industry-standard protocol for authorization. This my prelimenery effort to develop an oAuth2 oidc server. Humble implementaiton of the standards from the developer experience I had all these years. Being part of many SSO enterprise integrations and federations.</p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">This is the c# implemetaiton of oauth2, has both server & client. the client side is very imperative for any .net core client. it takes charge of all security middleware pipeline</p>
            </div>
        </section>

        <section>
            <div class="parallax-two">
                <h2>Contributions by....</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character ny">B</span>reaking into the New York fashion world is no easy task. But by the early 2000's, UGG Australia began to take it by storm. The evolution of UGG from a brand that made sheepskin boots, slippers, clogs and sandals for an active, outdoor lifestyle to a brand that was now being touted as a symbol of a stylish, casual and luxurious lifestyle was swift. Much of this was due to a brand repositioning effort that transformed UGG into a high-end luxury footwear maker. As a fashion brand, UGG advertisements now graced the pages of Vogue Magazine as well as other fashion books. In the mid 2000's, the desire for premium casual fashion was popping up all over the world and UGG was now perfectly aligned with this movement.</p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">Fueled by celebrities from coast to coast wearing UGG boots and slippers on their downtime, an entirely new era of fashion was carved out. As a result, the desire and love for UGG increased as people wanted to go deeper into this relaxed UGG experience. UGG began offering numerous color and style variations on their sheepskin boots and slippers. Cold weather boots for women and men and leather casuals were added with great success. What started as a niche item, UGG sheepskin boots were now a must-have staple in everyone's wardrobe. More UGG collections followed, showcasing everything from knit boots to sneakers to wedges, all the while maintaining that luxurious feel UGG is known for all over the world. UGG products were now seen on runways and in fashion shoots from coast to coast. Before long, the love spread even further.</p>
            </div>
        </section>

        <section>
            <div class="parallax-three">
                <h2>ENCHANTED FOREST</h2>
            </div>
        </section>

        <section>
            <div class="block">
                <p><span class="first-character atw">W</span>hen the New York fashion community notices your brand, the world soon follows. The widespread love for UGG extended to Europe in the mid-2000's along with the stylish casual movement and demand for premium casual fashion. UGG boots and shoes were now seen walking the streets of London, Paris and Amsterdam with regularity. To meet the rising demand from new fans, UGG opened flagship stores in the UK and an additional location in Moscow. As the love spread farther East, concept stores were opened in Beijing, Shanghai and Tokyo. UGG Australia is now an international brand that is loved by all. This love is a result of a magical combination of the amazing functional benefits of sheepskin and the heightened emotional feeling you get when you slip them on your feet. In short, you just feel better all over when you wear UGG boots, slippers, and shoes.</p>
                <p class="line-break margin-top-10"></p>
                <p class="margin-top-10">In 2011, UGG will go back to its roots and focus on bringing the active men that brought the brand to life back with new styles allowing them to love the brand again as well. Partnering with Super Bowl champion and NFL MVP Tom Brady, UGG will invite even more men to feel the love the rest of the world knows so well. UGG will also step into the world of high fashion with UGG Collection. The UGG Collection fuses the timeless craft of Italian shoemaking with the reliable magic of sheepskin, bringing the luxurious feel of UGG to high end fashion. As the love for UGG continues to spread across the world, we have continued to offer new and unexpected ways to experience the brand. The UGG journey continues on and the love for UGG continues to spread.</p>
            </div>
        </section>

    </div>
</body>
</html>
