@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>NTT (IdP) - Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/popper/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/ark-oauth-login.css" />
</head>
<body>
    <div class="container-fluid">
        <form method="post" name="Login_Form" class="form-signin">
            <div class="row" id="login">
                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-2 col-lg-offset-3 text-center" id="left">
                    @* <img src="@ViewBag.ctx.base_url_static/base/img/nttdata_logo_.png" style="width:100%;margin-top: 10px;" /> *@
                    <div class="client-logo"></div>
                    <h2 style="color: white;">Identity Provider</h2>
                    @* <img class="auth-icon" src="@ViewBag.ctx.base_url_static/base/libs/ntt-auth/ntt-auth.gif" width="150" style="" /> *@
                    <div class="auth-icon"></div>
                    <div>
                        <a href="@ViewBag.client_url" target="_blank">Client Config</a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-4 col-lg-offset-0" id="right">
                    <h1 class="text-center">Log In</h1>

                    <hr style="border-top: 3px double #8c8b8b;" />
                    <div id="username">
                        <span>Username:</span>
                        <input type="text" data-cust="username" name="Username" placeholder="username" required="" />
                    </div>

                    <div id="password">
                        <span>Password:</span>
                        <input type="password" data-cust="password" class="form-control" name="Password" placeholder="*********" required="" />
                    </div>

                    <button class="btn btn-lg btn-primary btn-block" data-cust="login" name="Submit" value="Login" type="Submit">Login</button>
                    @if (ViewBag.IsError)
                    {
                        <div style="text-align:center;color: red; margin-top: 10px;">
                            @ViewBag.msg
                        </div>
                    }
                </div>
            </div>
        </form>
    </div>
    <script src="lib/ark-util/ark-util.js"></script>
    <script src="lib/ntt-auth/ntt_auth.js"></script>
</body>
</html>